.input-group-bordered{
    border-width: 1px;
    border-color: #1869C1;
    border-style: ridge;
    cursor: pointer;
}
.profile-pic{
    width: 40px !important;
    height: 40px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.table-header{
    color: #1869C1;
    font-weight: bold;
}
.hidden{
    display: none;
}
.search-content{
    background-color: #A3C2E4;
}
.button-close{
    color: gray;
    float: right;
    font-size: 1.5em;
}
.button-close:hover{
    color: black;
}
.button-submit{
    float: right;
}