.input-group-bordered{
    box-sizing: border-box;

    width: 246px;
    
    background: #FFFFFF;
    border: 1px solid #1869C1;
    border-radius: 6px;
    cursor: pointer;
}
.search_border{
    flex-direction: row;
}
.search_title{
    font-size: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    top:auto;
    margin-bottom: 0 !important;
    font-style: normal;
    text-align: center;
    color: rgba(35, 115, 202, 0.47);


}
.profile-pic{
    width: 40px !important;
    height: 40px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.table-header{
    color: #1869C1;
    font-weight: bold;
}
.hidden{
    display: none;
}
.search-content{
    background-color: #A3C2E4;
}
.button-close{
    color: gray;
    float: right;
    font-size: 1.5em;
}
.button-close:hover{
    color: black;
}
.button-submit{
    background: #2868AE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    float: right;
}
.content-menu {
    text-align: center;
    width: inherit;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.content-menu .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    width: inherit;
    color: black;
}
.content-menu .nav .active{
    background: #2868AE;
}
.content-menu .nav-link{
    color: black ;
}
.content-menu .active .nav-link{
    color: white;
}
.search-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #152A51;
    margin-bottom: 0%;
    margin-top: 2%;

}
.search-input{
    padding-left: 9%;
    margin-bottom: 3%;
}
.search-form{
    border-radius: 9px;
}
.search-content-menu{
    margin-bottom: 2%;
    margin-left: 8%;
}
.center-popup{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.popup{
    width: 100%; 
    height:100vh; 
    z-index:1031;
    position:fixed;
    opacity: 1;
    background-color: #D3D3D3;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
}
.content-menu .nav-item{
    text-align: center;
    border-radius: 6px;
    height: 30px;
    background: rgba(40, 104, 174, 0.28);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 3%;
}
.content-menu .nav .search-date-choice{
    background: white;
}
.content-menu .nav-item:hover{
    cursor:pointer;
}
.permission{
    padding-left: 3%;
}
.search-button{
    float: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #1869C1;
    border-radius: 9px;
}
.search-button:hover{
    background: #1869C1;
}
.search-button:focus-visible{
    background: #1869C1;
}

.save{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #2868AE;
}
.save:hover{
    background-color: #2868AE;
}
.create{
    background-color: #D3E5F9;
}
.create-usertype{
    border-radius: 4%;
    margin-left: 2%;
    background-color: #A3C2E4;
}
.create-user{
    margin-bottom: 0%;
    padding-top:2%;
}
.form-group{
    margin-bottom: 0%;
}
.checked{
    color: white;
}
.edit_row{
    width: fit-content;
}
.edit::placeholder{
    color: black;
}
.edit{
    background-color: transparent;
    color: black;
    width: 60px;
}
.disabled_edit{
    pointer-events: none;
    border: none; 
}
.edit:focus{
    border: 3px solid #555;
}
.reftype-title{
    border: 1px;
    padding-top: 4%;
    border-radius: 2px;
    border-style: ridge;
    border-color: #1869C1;
    text-align: center;
    margin-left: 2%;
}
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  #map{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
#logo{
    height: 50px;
    width: 108px;
    margin-left: 96px;
    margin-top: 5px;
    top:0;
}
.nav-content{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}